<h1>Enter your new password</h1>
<% form_tag(:action => 'set_new_password') do -%>

<p><label for="user_user_password">Password</label><br/>
<%= password_field 'user', 'user_password'  %></p>

<p><label for="user_password_confirmation">Confirm</label><br/>
<%= password_field 'user', 'user_password_confirmation'  %></p>

<% if params[:key].blank?  %>
  <p><label for="key">Key</label><br/>
  <%= text_field_tag 'key' %></p>
<% else -%>
  <%= hidden_field_tag 'key', params[:key] %>
<% end -%>

<p><%= submit_tag 'OK', :class => "button" %></p>

<% end -%>
